{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  display: flex;
  max-width: 1200px;
}
.text{
  font-family: Verdana;
  justify-content: center;  
}
.car{
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: default;
  transition: all 400ms ease;
}
.car:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);
}
.car img{
  width: 100%;
  height: 170px;
}
.car{
  padding: 15px;
  text-align: center;
}
.car p{
  line-height: 1.5;
  color: #6a6a6a;
}
.car h3{
  margin-bottom: 15px;
}
.car a{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: black;
  border: 1px solid;
  border-radius: 4px;
  transition: all 400ms ease;
}
.car a:hover{
  background: #6a6a6a;
  color:#fff
}
